<h1>Gestion de pedidos: </h1>

<div class="table-container">
  <h2>Pedidos</h2>
  @if (orderResource.isLoading()) {
  <p class="mensaje">Cargando pedidos...</p>
  }

  @if (error()) {
  <p class="mensaje error">{{ error() }}</p>
  }

  @if (orderResource.value(); as orders) {
  @if(orders.length > 0){
  @for (pedido of orders; track pedido.order_id) {

  <div class="pedido-card">
    <div class="pedido-header">
      <div>
        <h3>Pedido #{{ pedido.order_id }}</h3>
        <p><strong>{{ pedido.order_date }}</strong></p>
      </div>

      <select [value]="pedido.order_status"
        (change)="changeStatus(
          pedido.order_id,
          $any($event.target).value)"
          [disabled]="actualizandoEstado().has(pedido.order_id)">
        <option  disabled selected>
          {{ pedido.order_status }}
        </option>
        <option >PENDIENTE</option>
        <option >EN PREPARACION</option>
        <option >ENTREGADO</option>
      </select>
    </div>

    <div class="pedido-info" [routerLink]="['detail', pedido.order_id]">
      <div>
        <span>Cliente</span><strong>{{ pedido.user_name }}</strong>
      </div>
      <div>
        <span>Celular</span><strong>{{ pedido.order_phoneNumber }}</strong>
      </div>
      <div>
        <span>Dirección</span><strong>{{ pedido.order_address }}</strong>
      </div>
      <div>
        <span>Total</span><strong>S/ {{ pedido.order_total| number:'1.2-2' }}</strong>
      </div>
    </div>
  </div>
  }
  }@else{
  <p class="mensaje">
    No hay pedidos disponibles.
  </p>
  }
  }
</div>

@if (toastVisible()) {
  <app-toast
    title="Estado actualizado"
    [message]="toastMessage()"
  />
}

